{% extends 'base.html' %} 
{% load static %} 

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Checkout</h1>
      <p class="lead fw-normal text-white-50 mb-0">Review your order.....</p>
    </div>
  </div>
</header>
<br /><br />
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-mb-3">
            <div class="card">
                <div class="card-header">
                  Order Summary
                </div>
                <div class="card-body">
                  {% for product in cart_products %}
                    {{ product.name }}:
                    {% if product.is_sale %}
                        ${{ product.sale_price }} 
                    {% else %}
                        ${{ product.price }} 
                    {% endif %}

                    <br/>
                    <small>Quantity:

                    {% for key, value in quantities.items %} 
                      {% if key == product.id|slugify %}
                        {{ value }}
                      {% endif %}
                    {% endfor %}</small>
                    <br></br>

                  {% endfor %}
                  Total:  ${{ totals }}
                  <br>
                  <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-secondary">Update items</a>
                  {% comment %} <a href="{% url 'checkout' %}" class="btn btn-success">checkout</a> {% endcomment %}
                </div>
            </div>
            <br></br>
            <div class="card">
                <div class="card-header">
                  Shipping Info
                </div>
                
                <div class="card-body">
                    <form method="POST" action="{% url 'billing_info' %}">
                        {% csrf_token %}
                        {{ shipping_form.as_p }}
                </div>
                
                  <br></br><br></br>
                    <button type="submit" class="btn btn-secondary">
                        Continue to payment
                    </button>
                </form>


            <br></br><br></br>     <br></br><br></br>
        </div>
    </div>
</div>

{% endblock %}